<!-- This file is made in order to load the teleop node for the neato so you can drive around.
Node is taken from the turtlebot_teleop package source, since it isnt maintained anymore. -->

<launch>  

  <node pkg="neato_navigation" type="turtlebot_teleop_key.py" name="teleop_keyboard"  output="screen">
    <param name="scale_linear" value="2.0" type="double"/>
    <param name="scale_angular" value="1.0" type="double"/>
    <remap from="teleop_keyboard/cmd_vel" to="cmd_vel"/>
  </node> 

</launch>
