<!-- This file is made in order to run the gazebo world along with Rviz, gmapping and teleop for map building purposes -->

<launch>
  <arg name="teleop" default="true" /> <!-- default -->
  <arg name="navigation" default="false" />
  <arg name="gmapping" default="false" />
  <arg name="amcl" default="false" />
  <arg name="living_room" default="true" /> <!-- default -->
  <arg name="willow_garage" default="false" /> 
  
  <group unless="$(arg amcl)">
    <node pkg="tf" type="static_transform_publisher" name="static_map" args="0 0 0 0 0 0 map odom 100" />
  </group>
  
  <include file="$(find neato_description)/launch/state_publisher_neato_simulation.launch" />

  <group if="$(arg willow_garage)">
    <arg name="map_file" value="$(find neato_navigation)/maps/gazebo-willowgarage.yaml"/>    
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    <include file="$(find neato_description)/launch/gazebo_willow_garage.launch" />
    <group if="$(arg amcl)">    
      <include file="$(find neato_navigation)/launch/amcl_neato.launch">  
        <arg name="initial_pose_x"  value="0"/>
        <arg name="initial_pose_y"  value="0"/>
      </include>  
    </group>    
  </group>

  <group if="$(arg living_room)">
    <arg name="map_file" value="$(find neato_navigation)/maps/living_room.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    <include file="$(find neato_description)/launch/gazebo_living_room.launch" />
    <group if="$(arg amcl)">    
      <include file="$(find neato_navigation)/launch/amcl_neato.launch">  
        <arg name="initial_pose_x"  value="1.8"/>
        <arg name="initial_pose_y"  value="1.8"/>
      </include>  
    </group>      
  </group> 

  <group if="$(arg navigation)">
    <include file="$(find neato_navigation)/launch/move_base_neato.launch" unless="$(arg teleop)"/> <!-- remaps to "/cmd_vel" instead of "navigation/cmd_vel" -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neato_description)/rviz/neato_navigate.rviz" required="true" />
  </group>    

  <group if="$(arg teleop)">
    <include file="$(find neato_navigation)/launch/teleop_simulation.launch"/> <!-- remaps to "/cmd_vel" instead of "teleop/cmd_vel" -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neato_description)/rviz/neato_map.rviz" required="true" />
  </group>

  <group if="$(arg gmapping)">
    <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=scan" unless="$(arg amcl)"/>
  </group>

</launch>
