<!-- This file is made in order to load the gazebo world along with state publisher and teleop so you can drive around -->
<launch>
  <arg name="rviz" default="false" />

  <include file="$(find neato_description)/launch/standalone_rviz_simulation.launch" if="$(arg rviz)"/>
  <include file="$(find neato_description)/launch/state_publisher_neato_simulation.launch" unless="$(arg rviz)"/>
  
  <include file="$(find neato_simulation)/launch/gazebo_living_room.launch" />

  <include file="$(find neato_navigation)/launch/teleop_keyboard_simulation.launch" />
 
</launch>

