<!-- This file is made in order to run a full neato run with some activation options.
the "teleop" and "navigation" arguments are one or the other - do not launch with both being true! -->

<launch>
  <arg name="navigation" default="true" />
  <arg name="amcl" default="false" />

  <node pkg="tf" type="static_transform_publisher" name="static_map" args="0 0 0 0 0 0 map odom 100" unless="$(arg amcl)"/>

  <include file="$(find neato_description)/launch/state_publisher_neato_real.launch" />

  <arg name="map_file" value="$(find neato_navigation)/maps/living_room_real.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
  <include file="$(find neato_navigation)/launch/amcl_neato.launch" if="$(arg amcl)">
    <arg name="initial_pose_x"  value="0"/> <!-- assuming neato is placed in the right position -->
    <arg name="initial_pose_y"  value="0"/>
  </include>

  <group if="$(arg navigation)"> <!-- Designates the "move_base" node as the one in charge of issuing velocity commands. -->
    <include file="$(find neato_navigation)/launch/move_base_neato_real.launch"/> <!-- Remaps to "navigation/cmd_vel" -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neato_description)/rviz/neato_navigate.rviz" required="true" />
  </group>

  <group unless="$(arg navigation)" > <!-- Designates the "teleop_keyboard" node as the one in charge of issuing velocity commands. -->
    <include file="$(find neato_real)/launch/pc/teleop_keyboard_real.launch"/> <!-- remaps to "teleop/cmd_vel" -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neato_description)/rviz/neato_map.rviz" unless="$(arg navigation)"/>
  </group>

</launch>
